<html>
    <head>admin</head>
    <body>
        give me the key
        <form method="POST" action="" target="./">
            <input name="pw" type="password"/>
            <input type="submit"/>
        </form>
    </body>
</html>